<div class="modal fade" id="new_persona" role="dialog" aria-labelledby="new_persona-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new_persona-label">Agregar Persona</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('FormularioBundle:Modal:newPersona')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="save_persona">Guardar Persona</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="new_relacion" role="dialog" aria-labelledby="new_relacion-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new_relacion-label">Agregar Relación</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('FormularioBundle:Modal:newRelacion')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="save_relacion">Guardar Relación</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->